/* .annonce{
    border: gray solid 1px;
    border-radius: 2.5%;
    padding: 25px;
}
.annonce__cardheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.annonce__cardheader__user{
    display: flex;
    align-items: center;
}
.annonce__cardfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.annonce__cardfooter__favori{
    display: flex;
    align-items: center;
}
.annonce__cardfooter__favori__label{
    margin-top: 32.5px;
    margin-left: 15px;
}
.annonce__cardfooter__favori__icon{
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.annonce__cardfooter__favori__icon:before{
    content: "\2605";
    visibility:visible;
}
.annonce__cardfooter__favori__icon:checked:before{
    content: "\2606";
}
.annonce__cardfooter__details{
    padding: 2.5%;
    font-size: medium;
}
.annonce__modal{
    position: absolute;
    top: 150px;
    left: 700px;
    right: 450px;
    background-color: white;
    padding: 25px;
}
.annonce__modal__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.205);
}
.annonce__modal__header{
    display: flex;
    justify-content: flex-end;
}
.annonce__modal__header__closebutton{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.annonce__modal__body{
    margin-top: 25px;
}
.annonce__modal__body__title{
    text-align: center;
}
.annonce__modal__body__label{
    text-decoration: underline;
}
.annonce__modal__body__images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.annonce__modal__body__images__imgbutton{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.annonce__modal__body__images__image{
    object-fit:contain;
}
.annonce__modal__footer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.annonce__modal__footer__contactbutton{
    padding: 10px;
    font-size: larger;
} */

.annonce-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
}
.carousel-control{
    color: black;
}
.carousel-item img{
    object-fit: contain;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favori label{
    color: var(--light);
}