.sidebar{
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.sidebar__items__item{
    display: flex;
    align-items:center;
    height: 7.5vh;
    padding-left: 10%;
    font-size: 1vw;
    color: black;
}
.sidebar__items__item:hover{
    background-color: rgb(173, 194, 233);
    cursor: pointer;
}
.userprofile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}